.novo-produto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 2rem 0;
}

.novo-produto-container p {
  margin-top: 1rem;
}

.new-product-title {
  background-color: white;
  max-width: 450px;
  padding: 4rem;
  margin: 4rem;
  border-radius: 0.4rem;
}
