.novo-produto-container {
  display: grid;
  background-color: red;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 2rem 0;
}

.new-product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 500px;
  /* padding: 0 4rem; */
  width: 500px;
  margin-left: 4rem;
  border-radius: 0.4rem 0.4rem 0 0;

  margin: 0 auto 0 auto;

  border-bottom: 0.1rem solid var(--background-color);
}

.new-product-title h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.6rem;
}
