.sidebar {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-right: 1px solid rgb(217, 217, 217);
}

.sidebar-top {
  width: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
}

.logo {
  /* background-color: #e44bd389; */
  width: 40%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 2rem 0 0 2rem;
}

.sidebar-nav-item {
  margin-top: 2rem;
}

.sidebar-nav-item span {
  margin-left: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #787878;
  margin-bottom: 1rem;
  display: block;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.sidebar-nav {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 0 auto;
  display: flex;
  border-radius: 0.4rem 0 0.4rem 0;
  /* gap: 2rem; */
}

.button {
  color: var(--black);
  border-radius: 4px;
  transition: box-shadow 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1.5rem 0;

  background-color: var(--white);
  border-radius: 20px;
  transition: background 0.3s ease;
}

.button a {
  color: var(--black);
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
}

.button img {
  width: 18px;
  margin: 0 1.5rem 0 2rem;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #e4e4e4a9;
}

.button:hover img {
  transform: scale(1.2);
}

.nav-active {
  background-color: #e4e4e4a9;
}

.sidebar-nav-item .button.active {
  font-weight: 500;
}
