*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

:root{
    font-size: 62.5%;

    --white: #fff;
    --black: #000;
    --gray: #4B4B4B;
    --background-color: #F1F3F4;
    --primary-color: #EB9CFF;
}